{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Introduce the Id of the report to delete {% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="id" placeholder="Message Id"
               value="{{ request.form['id'] }}">
        <button type="submit">Submit</button>
        <input type="reset" value="Clear all">
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </form>
{% endblock %}